*{
  box-sizing: border-box;
}
/* =================== one-box ==============================*/
.boxs .boxOne{
  border-radius: 10px;
  background-color:white;
}
.boxs .boxOne .headerBox{
  border-radius: 10px 10px 0px 0px;
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
    padding: 10px 15px;
}
.boxs .boxOne .headerBox .text {
  margin-top: 5px;
}
.boxs .boxOne .headerBox .text p{
  font-size: 25px;
  margin: 0px;
  font-weight: 700;
}
.boxs .boxOne .headerBox .text span{
  font-size: 15px;
    margin-top: 12px;
    color: #888;
    display: block;
}
.boxs .boxOne .headerBox img{
  width: 200px;
}
.boxs .boxOne .bodyBox {
  padding: 60px 15px;
  position: relative;
}
.boxs .boxOne .bodyBox img{
  width: 64px;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 20px;
}
.boxs .boxOne .bodyBox .alTxet{
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}.boxs .boxOne .bodyBox .alTxet p{
  font-size: 20px;
}
.boxs .boxOne .bodyBox .alTxet p span{
  font-size: 14px;
  color: var(--grey-color);
  display: block;
}
.boxs .boxOne .bodyBox a{
  border-radius: 10px;
  color: white;
  float: right;
  width: fit-content;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 6px 12px;
  background-color: var(--blue-color);
}
/* =================== end one-box ==============================*/
/* =================== Two-box ==============================*/
.boxs .boxTwo{
    border-radius: 10px;
    padding: 10px 15px;
  background-color: white;
}
.boxs .boxTwo p{
    font-size: 25px;
    margin: 0;
      margin-top: 6px;
      font-weight: 700;
}
.boxs .boxTwo  span {
  font-size: 15px;
  margin-top: 12px;
  color: #888;
  display: block;
}
.boxs .boxTwo input:focus{
  outline: none;
}
.boxs .boxTwo input{
  margin: 15px 0px;
  border-radius: 10px;
  width: 100%;
  padding: 8px 15px;
  display: block;
  background-color: #eeeeee;
  border: none;
}
.boxs .boxTwo .two{
  padding-bottom: 130px;
}
.boxs .boxTwo input[type="submit"]{
  width: fit-content;
  float: right;
  background-color: var(--blue-color);
  color: white;
  font-size: 15px;
  cursor: pointer;
}
/* =================== end Two-box ==============================*/
/* =================== start Three-box ==============================*/
.boxs .boxThree {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: white;
}
.boxs .boxThree .header {
  font-size: 25px;
  margin: 0;
  margin-top: 6px;
  font-weight: 700;
}
.boxs .boxThree span {
  font-size: 15px;
  margin-top: 12px;
  color: #888;
  display: block;
}
.boxs .boxThree .files{
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 15px 0px;
}
.boxs .boxThree .files i{

  text-align: center;
  width: 70px;
  padding: 35px 0px;
  color: var(--orange-color);
  background-color: rgba(245, 158, 11, 0.2);
}
.boxs .boxThree .files .c-green{
  color: var(--green-color);
  background-color: rgba(34, 197, 94, 0.2);
}
.boxs .boxThree .files .c-blue{
  color: var(--blue-alt-color);
  background-color: rgba(0, 117, 255, 0.2);
}
.boxs .boxThree .files .other {
  flex: 2;
}
.boxs .boxThree .files .other p{
  margin-top: 5px;
  font-weight: bold;
}
.boxs .boxThree .files .other div{
    width: 100%;
      height: 5px;
  background-color: rgba(245, 158, 11, 0.2);
}
.boxs .boxThree .files .other div span{
  display: block;
  width: 55%;
  height: 100%;
  background-color: var(--orange-color);
  position: relative;
}
.boxs .boxThree .files .other .d-green{
  background-color: rgba(34, 197, 94, 0.2);
}
.boxs .boxThree .files .other div .s-green {
    width: 75%;
  background-color: var(--green-color);
}
.boxs .boxThree .files .other .d-blue{
  background-color: rgba(0, 117, 255, 0.2);
}
.boxs .boxThree .files .other div .s-blue {
    width: 90%;
  background-color: var(--blue-alt-color);
}

.boxs .boxThree .files .other div span::before{
  content: "55%";
  position: absolute;
  background-color: var(--orange-color);
  color: white;
  font-size: 12px;
  right: -16px;
  top: -35px;
  padding: 5px;
  border-radius: 6px;
}
.boxs .boxThree .files .other div .s-green::before{
  content: "75%";
}
.boxs .boxThree .files .other div .s-blue::before{
  content: "90%";
}
.boxs .boxThree .files .other div span::after{
  content: "";
  position: absolute;
  right: -6px;
  top: -12px;
  border-style:solid;
  border-color: var(--orange-color) transparent transparent  transparent;
  border-width: 6px;
}

.boxs .boxThree .files .other div .s-green::before {
  background-color: var(--green-color);
}
.boxs .boxThree .files .other div .s-green::after{
    border-color: var(--green-color) transparent transparent transparent;
}
.boxs .boxThree .files .other div .s-blue::before {
  background-color: var(--blue-alt-color);
}
.boxs .boxThree .files .other div .s-blue::after {
  border-color: var(--blue-alt-color) transparent transparent transparent;
}
/* =================== end Three-box ==============================  */
/* =================== start Four-box ==============================  */
.boxs .boxFour .boxes{
  display: grid;
  grid-template-columns:repeat( auto-fill, minmax(200px,1fr));
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.boxs .boxFour .boxes div{
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
    border: 2px solid  rgba(136, 136, 136, 0.342);;
      border-radius: 10px;
}
.boxs .boxFour .boxes div p {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 0px;
}
.boxs .boxFour .boxes div span {
  font-size: 14px;
  color: #888;
  margin-bottom: 0px;
}
.boxs .boxFour .boxes div .c-orange{
  color: var(--orange-color);
}
.boxs .boxFour .boxes div .c-blue{
  color: var(--blue-alt-color);
}
.boxs .boxFour .boxes div .c-green{
  color: var(--green-color);
}
.boxs .boxFour .boxes div .c-red{
  color: var(--red-color);
}
/* =================== end Four-box ==============================  */
/* =================== start Five-box ==============================  */
.boxs .boxFive .file{
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  align-items: center;
  gap: 30px;
  position: relative;
}
.boxs .boxFive .file:not(:last-child){
  border-bottom: 1px solid #eee;
}
.boxs .boxFive .file img{
  width: 100px;
  border-radius: 10px;
}
.boxs .boxFive .file .text p{
  margin: 0px;
  font-size: 19px;
  font-weight: bold;
}
.boxs .boxFive .file p:last-child {
  position: absolute;
  background-color: #eee;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  right: 5px;
}
/* =================== end Five-box ==============================  */
/* =================== start six-box ==============================  */
.boxs .boxSix .slice{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
}
.boxs .boxSix .slice:nth-child(5) {
  opacity: 35%;
}
.boxs .boxSix .slice:nth-child(5)p,.boxs .boxSix .slice:nth-child(5) span{
  text-decoration: line-through
}
.boxs .boxSix .slice p{
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}
.boxs .boxSix .slice i{
  font-size: 18px;
}
.boxs .boxSix .slice i:hover{
  color: var(--red-color);
}
.boxs .boxSix .slice .lines{
  text-decoration: line-through
}
/* =================== end six-box ============================== */
/* =================== start seven-box ==============================  */
.boxs .boxSeven .text{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxs .boxSeven .text p{
  font-size: 19px;
}
.boxs .boxSeven .text div{
  background-color: #eee;
  padding: 5px 13px;
  border-radius: 10px;
}
/* =================== end seven-box ==============================  */
/* =================== start eight-box ==============================  */
.boxs .boxEight .file{
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  position: relative;
  margin-top: 5px;
}
.boxs .boxEight .file:not(:last-child){
  border-bottom: 1px solid #eee;
}
.boxs .boxEight .file div:last-child{
  position: absolute;
  right: 10px;
  background-color: #eee;
  padding: 5px 12px;
  border-radius: 10px;
}
.boxs .boxEight .file img{
  width: 50px;
  margin-right: 20px;
}
.boxs .boxEight .file p{
  margin-bottom: 3px;
}
.boxs .boxEight .file span{
  margin:0px;
}
/* =================== end eight-box ==============================  */
/* =================== start Nine-box ==============================  */
.boxs .boxNine{
  position: relative;
}
.boxs .boxNine img{
  position: absolute;
  width: 150px;
  opacity: 15%;
  bottom: -5px;
  right: 0;
}
.boxs .boxNine ul{
  position: relative;
}
.boxs .boxNine ul::before{
  position: absolute;
  content: "";
  width: 2px;
  height: 80%;
  top: 16px;
  left: 11px;
  background-color: var(--blue-alt-color);
}
.boxs .boxNine ul li{
  font-size: 18px;
  padding: 16px 0px;
  position: relative;
}
.boxs .boxNine ul li::before{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  left: -40px;
  border-radius: 50%;
  background-color: var(--blue-alt-color);
  border: 2px solid white;
  outline: 2px solid var(--blue-alt-color);
}
.boxs .boxNine ul .wit::before{
  background-color: white;
}
.boxs .boxNine ul .onOut::before{
      animation-name: onOut;
        animation-duration: 0.8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
@keyframes onOut {
  100%{
    background-color: var(--blue-alt-color);
  }
}
/* =================== end Nine-box ==============================  */
/* =================== start Ten-box ==============================  */
.boxs .boxTen ul li{
  position: relative;
}
.boxs .boxTen ul li .boll{
  top: 15px;
  left: -35px;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--blue-alt-color);
}
.boxs .boxTen ul li .b-green{
  background-color: var(--green-color);
}
.boxs .boxTen ul li .b-orange{
  background-color: var(--orange-color);
}
.boxs .boxTen ul li .b-red{
  background-color: var(--red-color);
}
.boxs .boxTen ul li{
  border-left: 2px solid var(--blue-alt-color);
  padding-left:20px ;
}
.boxs .boxTen ul li:nth-child(2){
  border-color: var(--green-color);
}
.boxs .boxTen ul li:nth-child(3){
  border-color: var(--orange-color);
}
.boxs .boxTen ul li:nth-child(4){
  border-color: var(--red-color);
}
.boxs .boxTen ul li .text p {
  font-size: 19px;
  margin-bottom: 0px;
}
/* =================== end Ten-box ==============================  */
/* =================== start Eleventh-box ==============================  */
.boxs .boxEleventh .myself{
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 10px;
  padding: 20px 0px;
  border-bottom: 2px solid #eee;
}
.boxs .boxEleventh .myself p{
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
}
.boxs .boxEleventh .myself span{
  margin-top: 5px;
}
.boxs .boxEleventh .myself img{
  width: 50px;
  height: 50px;
}
.boxs .boxEleventh .article{
  line-height: 2;
  font-size: 17px;
  padding: 20px 0px;
  border-bottom: 2px solid #eee;
}
.boxs .boxEleventh .icon{
  color: #999;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
/* =================== end Eleventh-box ==============================  */
/* =================== start Twelve-box ==============================  */
.boxs .boxTwelve .color-div{
  padding: 0;
  background-color: rgb(29 161 242 / 20%);
  color: #1da1f2;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin: 20px;
}
.boxs .boxTwelve .color-div:nth-child(3){
  background-color: rgb(24 119 242 / 20%);
  color: #0077b5;
}
.boxs .boxTwelve .color-div:nth-child(4){
    background-color: rgb(255 0 0 / 20%);
    color: red;
}
.boxs .boxTwelve .color-div:nth-child(5){
  background-color: rgb(24 119 242 / 20%);
  color: #1877f2;
}
.boxs .boxTwelve div div{
  padding: 0;
  margin: 0;
}
.boxs .boxTwelve div div i{
  text-align: center;
  padding: 15px 0;
  width: 60px;
  background-color: #1da1f2;
  color: white;
}.boxs .boxTwelve div div i:hover{
  transform: rotate(7deg);
}
.boxs .boxTwelve div div .fa-facebook-f {
  background-color: #1877f2;
}
.boxs .boxTwelve div div .fa-youtube {
  background-color:#ff0000;
}
.boxs .boxTwelve div div .fa-linkedin{
  background-color:#0077b5;
}
.boxs .boxTwelve div div span{
  margin-left: 10px;
  font-size: 17px;
}
.boxs .boxTwelve div a{
  padding: 5px 12px;
  color: white;
  font-weight: 400;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #1da1f2;
}
.boxs .boxTwelve div .facebook{
  background-color: #1877f2;
}
.boxs .boxTwelve div .youtube{
  background-color: #ff0000;
}
.boxs .boxTwelve div .linkedin{
  background-color: #0077b5;
}
/* =================== end Twelve-box ==============================  */
/* =================== end Thirteen-box ==============================  */
.boxThirteen .overflow{
    overflow-x: auto;
}
.boxThirteen .overflow table{
  margin-top: 20px;
    min-width: 1050px;
      border-spacing: 0;
}
.boxThirteen .overflow table thead {
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(136, 136, 136, 0.103);
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
tr:hover{
    background-color: rgba(136, 136, 136, 0.048);
}
td{
    border: 1px solid rgba(136, 136, 136, 0.137);
  padding: 20px;
}
.boxThirteen .overflow table img{
  width: 30px;
  border-radius: 50%;
  border: 3px solid white;
}
.boxThirteen .overflow table .imgs{
  position: relative;
}
.boxThirteen .overflow table .imgs .team-01{
  position: absolute;
  left: 7px;
  top: 15px;
  z-index: 0;
}
.boxThirteen .overflow table .imgs .team-02{
  position: absolute;
  left: 27px;
    top: 15px;
  z-index: 1;
}
.boxThirteen .overflow table .imgs .team-03{
  position: absolute;
  left: 47px;
    top: 15px;
  z-index: 2;
}
.boxThirteen .overflow table .imgs .team-04{
  position: absolute;
  left: 67px;
    top: 15px;
  z-index: 4;
}
.boxThirteen .overflow table span {
  font-size: 12px;
  color: white;
  border-radius: 5px;
  padding: 1px 5px;
  background-color: var(--orange-color);
}
.boxThirteen .overflow table .s-blue {
  background-color: var(--blue-alt-color);
}
.boxThirteen .overflow table .s-green {
  background-color: var(--green-color);
}
.boxThirteen .overflow table .s-red {
  background-color: var(--red-color);
}

/* =================== end Thirteen-box ==============================  */