.box-3 .box .header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.box-3 .box .icon-h i{
  padding: 9px;
  border-radius: 50%;
  font-size: 14px;
  margin: 0px 2px;
  color: #666;
  background-color: #eee;
  font-weight: 700;
  cursor: pointer;
}
.box-3 .box .icon-h i:hover{
  color: white;
  background-color: var(--blue-alt-color);
}
.box-3 .box .header img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.box-3 .box .header p{
  margin-bottom: 7px;
  font-size: 17px;
  font-weight: 700;
}
.box-3 .box .header span{
  margin-top: 0px;
}
.box-3 .box .text {
  border-top: 2px solid #cccccc70;
  border-bottom: 2px solid #cccccc70;
  margin-top:23px;
  padding: 20px 5px;
  position: relative;
}
.box-3 .box .text .icons{
  margin-top: 8px;
  font-size: 15px;
}
.box-3 .box .text .icons i{
  margin-right: 5px;
}
.box-3 .box .text .bottom {
  font-size: 40px;
  font-weight: 700;
  color:var(--red-color);
  position: absolute;
  opacity: 20%;
  bottom: 8px;
  right: 15px;
}
.box-3 .box .foot {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.box-3 .box .foot span{
  margin: 0;
  font-size: 14px;
}
.box-3 .box .foot a{
  padding: 0px 8px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  background-color: var(--blue-alt-color);
}
.box-3 .box .foot .last-r{
  background-color: var(--red-color);
}